body{
    color: rgb(12, 1, 1);
    font-family: tahoma, arial, sans-serif;
}
.container{
    position: relative;
    text-align: center;
    color: white;
    display: flex;
   height: 250px;
   padding: 12px;
}
.centered {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-style: inherit;
    font-family: sans-serif;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 
  form div {
    clear: left;
    margin: 10px;
    padding: 12px;
    padding-top: 5px;
  }
  form div label {
    float: left;
    width: 30%;
    font:  Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: black;
    }
fieldset{
   background-color: rgb(214, 234, 248); 
   gap: 10px;
   padding: 20px;
   
}
input{
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #43d1af;
    box-sizing: border-box; 
    
    
}
legend{
    background-color: #1c87c9;
    color: whitesmoke;
    border: #1c87c9;
    padding: 10px;
    border: 10px;
    
}

button{
    background-color: #1abc9c;
    color: white;
    font-size: 16px;
    width: 150px;
    padding: 5px;

}
button[type=submit]:hover {
    background-color: #daec35;
}
button[type=reset]:hover {
    background-color: #e41b1b;
}
